@tailwind components;

@layer components{
    .TextBar{
        @apply flex justify-start items-start flex-col px-24 py-12 gap-12 z-10 relative
        sm:p-0 sm:justify-center sm:items-center sm:text-center sm:gap-4
    }
    .TextBar h1{
        @apply text-6xl text-white  font-poppins font-bold
        sm:text-2xl sm:mt-12 sm:mx-4 
    }
    .TextBar h2{
        @apply text-[26.8px] text-white font-opensans
        sm:text-xl sm:px-2
    }
    .TextBar button{
        @apply w-1/3 bg-white  text-2xl shadow-lg rounded-full py-4 shadow-purple-950 font-opensans text-violet
        hover:bg-SoftMagenta hover:text-white transition duration-300 delay-300 ease-in font-bold
        sm:w-56 sm:text-base sm:h-11 sm:flex sm:justify-center sm:items-center
        sm:mt-4
    }
}